.app-wrapper {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  font-family: 'Product Sans';
}

@media screen and (min-width: 1400px) {
  .app-wrapper {
    width: 1400px;
    font-family: 'Product Sans';
  }
}
@media screen and (min-width: 1600px) {
  .app-wrapper {
    width: 1600px;
    font-family: 'Product Sans';
  }
}
@media screen and (min-width: 1900px) {
  .app-wrapper {
    width: 1600px;
    font-family: 'Product Sans';
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .app-wrapper{
      padding: 0;
      margin: 0;
      min-width: 320px;
      max-width: 480px;
      width: 100%;
  }
}